.header {
    position: fixed;
    width: 1200px;
    padding: 30px 30px;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px gray;
    z-index: 999;
}

.list {
    display: flex;
    justify-content: space-between;

    align-items: center;
    list-style: none;
}
.auth{
    display: flex;
   align-items: center;
   gap: 30px;
}

.link {
    border: 1px solid white;
    color: white;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    text-decoration: none;


}

.link:hover {
    color: rgb(248, 104, 104);
}